# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.dmypy.json
.pytype/

# Virtual environments
.env
.venv/
env/
ENV/
env.bak/
venv.bak/
.venv
venv/


# Jupyter Notebooks
.ipynb_checkpoints/

# Data artifacts
data/raw/
data/processed/
*.csv
*.json
*.xlsx
*.zip

# Machine Learning artifacts
*.h5
*.pb
*.tflite
saved_model/
checkpoints/
models/

# Docker artifacts
*.tar
docker/*.tar
docker_build/

# Logs
*.log

# GCP / Cloud Secrets
*.key.json
gcloud-service-key.json
deployment/*.key.json

# IDE/project settings
.vscode/
.idea/
.spyderproject
.spyproject

# Build artifacts
build/
dist/
pip-wheel-metadata/
*.egg-info/
develop-eggs/
.eggs/
.installed.cfg
*.egg
MANIFEST

# OS Files
.DS_Store
Thumbs.db

# CI/CD, Ruff, Pyre caches
.ruff_cache/
.pyre/

# Documentation build artifacts
docs/_build/
site/
