# .env.example

# GCP Project Settings
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=us-central1
GCP_SERVICE_NAME=career-compass-api
GCP_REPO_NAME=career-compass-docker-repo

# Cloud Run Settings
CLOUD_RUN_MEMORY=1Gi  # Memory allocation for Cloud Run
CLOUD_RUN_TIMEOUT=900  # Timeout for Cloud Run container (in seconds)
